@using gameClassLibrary.Models.Resources

<script>
    $(function () {

        // There's the gallery and the trash
        var $selectableResources = $("#selectableResources"),
            $selectedResources = $("#selectedResources"),
            $validationButton = $("#validationButton");

        // Let the gallery items be draggable
        $("div", $selectableResources).draggable({
            //cancel: "a.ui-icon", // clicking an icon won't initiate dragging
            revert: "invalid", // when not dropped, the item will revert back to its initial position
            containment: "document",
            helper: "clone",
            cursor: "move"
        });

        // Let the trash be droppable, accepting the gallery items
        $selectedResources.droppable({
            accept: "#selectableResources > div",
            classes: {
                "ui-droppable-active": "ui-state-highlight"
            },
            drop: function (event, ui) {
                deleteImage(ui.draggable);
            }
        });

        // Let the gallery be droppable as well, accepting items from the trash
        $selectableResources.droppable({
            accept: "#selectedResources div",
            classes: {
                "ui-droppable-active": "custom-state-active"
            },
            drop: function (event, ui) {
                recycleImage(ui.draggable);
            }
        });

        // Image deletion function
        //var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";
        function deleteImage($item) {
            $item.fadeOut(function () {
                var $list = $("ul", $selectedResources).length ?
                    $("div", $selectedResources) :
                    $("<div class='col-md-3 col-xs-5 gallery ui-helper-reset'/>").appendTo($selectedResources);

                //$item.find("a.ui-icon-trash").remove();
                $item.appendTo($list).fadeIn(function () {
                    $item
                        .animate({ width: "200px" })
                        .find("img")
                        .animate({ height: "80px" });
                });
            });
        }

        // Image recycle function
        //var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete image</a>";
        function recycleImage($item) {
            $item.fadeOut(function () {
                $item
                    .find("a.ui-icon-refresh")
                    .remove()
                    .end()
                    .css("width", "200px")
                    //.append(trash_icon)
                    .find("img")
                    .css("height", "72px")
                    .end()
                    .appendTo($selectableResources)
                    .fadeIn();
            });
        }

        $validationButton.click(function () {
            var ids = document.querySelectorAll('#selectedResources > div > div > #resourceId');
            var names = document.querySelectorAll('#selectedResources > div > div > #resourceName');
            var urls = document.querySelectorAll('#selectedResources > div > div #resourceImage');
            var result = [];
            //var result = "";
            for (var i = 0; i < ids.length; i++) {
                var item = {
                    Id: ids[i].innerHTML.trim(),
                    Name: names[i].innerHTML.trim(),
                    ImageURL: urls[i].getAttribute('src')
                };
                result.push(item);
                //var item = '<tr><td name = "Id" >' + ids[i].innerHTML.trim()+'</td><td name="Name">' + names[i].innerHTML.trim()+'</td><td name="ImageURL">'+urls[i].getAttribute('src')+'</td></tr >'
                //result += item;
            }

            document.getElementById('resourceList').value = JSON.stringify(result);
            //document.getElementById('resourceList').innerHTML = result;
        });
    });
    
</script>

<input id="resourceList" name="resources" style="visibility:hidden" value=""/>

@*<table id="resourceList">
</table>*@

<a class="btn btn-primary" data-toggle="modal" data-target=".bootstrapmodal" data-whatever="">Select resources</a>

<div class="modal fade bootstrapmodal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="resourceSelectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select wished resources</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ui-widget ui-helper-clearfix">
                    @Html.Label("Selected", htmlAttributes: new { @class = "row" })
                    <div id="selectedResources" class="row ui-widget-content ui-state-default" style="min-height:80px">

                    </div>
                    @Html.Label("Selectable", htmlAttributes: new { @class = "row" })
                    <div id="selectableResources" class="row gallery ui-helper-reset ui-helper-clearfix">
                        @foreach (Resource item in ViewBag.AvaibleResources)
                        {
                            <div class="col-md-3 col-xs-5 ui-widget-content ui-corner-tr">
                                @Html.Partial("../Resource/DetailsBase", item)
                            </div>
                        }
                    </div>
                </div>
            </div>

                <div class="modal-footer">
                    <button id="validationButton" type="button" class="btn btn-primary" data-dismiss="modal">Validate</button>
                </div>
            </div>
        </div>
</div>

