@model gameClassLibrary.Models.Resources.Resource

<div id="resourceId" style="visibility:hidden">
    @Model.Id
</div>

<dt id="resourceName">
    @Html.DisplayFor(model => model.Name)
</dt>

<dd>
    @if (Model.ImageURL != "")
    {
        <img id="resourceImage" src="@Model.ImageURL" alt="Sample Image" width="100px" height="80px" />
    }
</dd>