@model gameClassLibrary.Models.Units.Unit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/Create.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
